// Breakpoints
$mobile-width: 450px;

$red1: #d20000;
$red2: #e60000;
$blue1: #1c69d4;
$green1: #3db014;
$yellow1: #ffb600;
$gray1: #1a1f27;
$gray2: #262626;
$gray3: #292e36;
$gray4: #414751;
$gray5: #8e8e8e;
$gray6: #dddddd;
$gray7: #d6d6d6;
$gray8: #d8d8d8;
$gray9: #e6e6e6;
$gray10: #e8e8e8;
$gray11: #f2f2f2;
$gray12: #fafafa;
$gray13: #ffffff;
