@import 'variables';
@import 'tools';

:host ::ng-deep {
  .table-wrapper {
    flex-grow: 1;

    .card-info {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin-bottom: 30px;

      &:last-of-type {
        margin-bottom: 20px;
      }

      .mat-list-base {
        padding: 10px;
        width: 100%;

        .list-items {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: unset;
          min-height: 48px;
          padding: 0 16px;
          .title {
            font-weight: 600;
          }

          &:not(:last-of-type) {
            border-bottom: 1px solid $gray6;
          }

          .object-view {
            margin: 10px 0;
            width: 100%;
            .title {
              margin-bottom: 10px;
              font-weight: 600;
              flex: 0 0 100%;
            }
            .content {
              display: flex;
              div:first-of-type {
                flex: 0 0 40%;
              }

              .item {
                display: flex;
                flex-direction: column;
              }
            }
          }
        }
      }
    }
  }
}
