<footer class="container">
  <ul class="p-0 m-0">
    <li>© BMW AG</li>
    <li>
      <a routerLink="/">{{ 'COMMON.VERSION' | translate }} 1.1.1</a>
    </li>
    <li>
      <a routerLink="/">{{ 'COMMON.LICENSES' | translate }}</a>
    </li>
    <li>
      <a routerLink="/">{{ 'COMMON.IMPRINT' | translate }}</a>
    </li>
    <li>
      <a routerLink="/">{{ 'COMMON.PRIVACY' | translate }}</a>
    </li>
    <li>
      <a routerLink="/">{{ 'COMMON.TERM_OF_USE' | translate }}</a>
    </li>
  </ul>
</footer>
