.search-container {
  position: relative;
  .search-input {
    background: transparent;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
  }
  .search-icon {
    position: absolute;
    top: 6px;
    right: 10px;
  }
  .cancel-icon {
    position: absolute;
    cursor: pointer;
    width: 20px;
    top: 6px;
    right: 40px;
  }
}
