@import 'variables';

table {
  margin-top: 8px;
  width: 100%;
  > * {
    text-align: left;
    width: 100%;
  }
}

.variant-image {
  width: 200px;
}

.empty-state-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 60px;
}

.field-container {
  width: 100%;
  padding-right: 40px;
  background-color: white;

  .img-container {
    width: 90px;
    margin-right: 10px;
  }
}
