<div class="table-wrapper">
  <ng-container *ngIf="formStep && init">
    <div class="d-flex align-items-center mb-16">
      <span>
        {{ 'FORMS.TITLES.USE_CASE_OFFER' | translate }}
      </span>
      <a
        class="ml-auto font-bold text-decoration-none"
        [routerLink]="['/use-cases', 'edit', useCase.id, getStepUrl('order')]"
        [queryParams]="{ 'tab-index': 0 }"
      >
        {{ 'USE_CASE.VIEW_FORM' | translate }}
      </a>
    </div>

    <mat-card class="card-info">
      <mat-list>
        <div fxLayout="row" class="list-items">
          <div class="title" fxFlex="40">
            {{ 'FORMS.USE_CASE_OFFER.ONE_TIME_COSTS' | translate }}
          </div>
          <div fxFlex="60">{{ calc.getOneTimeCost(formStep) }}{{ calc.currencySymbol }}</div>
        </div>
        <div fxLayout="row" class="list-items">
          <div class="title" fxFlex="40">{{ 'FORMS.USE_CASE_OFFER.HARDWARE' | translate }}</div>
          <div fxFlex="60">
            {{ calc.getHardwareCostEstimation(formStep) }}{{ calc.currencySymbol }}
          </div>
        </div>
        <div fxLayout="row" class="list-items">
          <div class="title" fxFlex="40">{{ 'FORMS.USE_CASE_OFFER.INSTALLATION' | translate }}</div>
          <div fxFlex="60">{{ calc.getInstallationCost(formStep) }}{{ calc.currencySymbol }}</div>
        </div>
        <div fxLayout="row" class="list-items">
          <div class="title" fxFlex="40">
            {{ 'FORMS.USE_CASE_OFFER.IMPLEMENTATION' | translate }}
          </div>
          <div fxFlex="60">{{ calc.getImplementationCost(formStep) }}{{ calc.currencySymbol }}</div>
        </div>
        <div fxLayout="row" class="list-items">
          <div class="title" fxFlex="40">{{ 'FORMS.USE_CASE_OFFER.YEARLY_COSTS' | translate }}</div>
          <div fxFlex="60">{{ calc.getYearlyCost(formStep) }}{{ calc.currencySymbol }}</div>
        </div>
      </mat-list>
    </mat-card>
  </ng-container>
</div>
