@import 'variables';

.content {
  padding: 16px;
  padding-top: 40px;
  margin: 0 !important;
  a {
    margin: 16px;
    mat-card {
      min-height: 120px;

      .card-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 16px;

        .country {
          color: $gray5;
        }
      }
    }
  }
}
