@import './assets/scss/variables.scss';
@import './assets/scss/mat-theme.scss';
@import './assets/scss/material-icons.scss';
@import './assets/scss/tools.scss';
@import './assets/scss/fonts.scss';
@import './assets/scss/utilities.scss';

* {
  box-sizing: border-box;
}

html,
body {
  @include custom-scrollbar;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'BMW';
  color: $gray2;
}

// Global overrides
.snackbar-error simple-snack-bar > span {
  color: $red1;
  overflow-wrap: anywhere;
}

.mat-menu-panel[role='menu'] {
  box-shadow: 0 0 9px 0 rgba(#000, 15%);
  border-radius: 10px;
  min-height: unset;
  @include custom-scrollbar;

  .mat-menu-content button.mat-menu-item {
    font-size: 12px;
    height: 28px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

button {
  font-family: 'BMW';
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.mat-h1,
.mat-h2,
.mat-h3,
.mat-h4 {
  margin: 0;
  font-weight: 500;
}

h5 {
  font-size: 14px;
}

a {
  font-family: 'BMW';
  color: $blue1;
}

a:visited {
  color: $blue1;
}

textarea {
  font-family: 'BMW';
}

fieldset {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;

  & + fieldset {
    margin-top: 14px;
  }

  mat-icon {
    &.hint-icon {
      cursor: pointer;
      color: $gray8;
      position: absolute;
      top: 0;
      font-size: 22px;
      left: -14px;
      top: 50%;
      transform: translate(-100%, -50%);
    }
  }

  mat-form-field {
    width: 100%;
  }
}

input {
  height: 35px;
  width: 100%;
  padding: 0 18px;
  border: 1px solid $gray10;
  transition: border-color 0.25s ease;

  &:focus {
    border-color: $gray5;
    outline: none;
  }

  &::placeholder {
    color: $gray5;
  }

  &:disabled::placeholder {
    color: transparent !important;
  }
}

.save-search-form-panel,
.default-stations-form-panel,
.image-detail-panel,
.grid-image-detail-panel,
.date-range-picker-panel {
  mat-dialog-container {
    overflow: visible;
    padding: 0;
    border-radius: 8px;
  }
}

.mat-cell,
.mat-header-cell {
  box-sizing: content-box;
}

.mat-option {
  font-size: 13px;
  height: 40px !important;
}

// Material form fields

.mat-form-field-appearance-outline {
  .mat-form-field-outline-thick {
    color: $gray5;
  }

  .mat-form-field-label {
    color: #666;
  }
}

.mat-form-field.mat-form-field-appearance-outline {
  &.mat-form-field-disabled .mat-form-field-flex {
    background-color: $gray11;

    .mat-form-field-outline {
      box-shadow: none;
    }
  }

  .mat-form-field-wrapper,
  .mat-form-field-flex {
    margin: 0;
  }

  .mat-form-field-flex,
  .mat-form-field-subscript-wrapper {
    padding: 0 14px;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-flex {
    background-color: $gray13;
    border-radius: 3px;
    transition: background-color 0.2s ease;
  }

  .mat-form-field-subscript-wrapper {
    position: relative;
  }

  .mat-form-field-outline {
    top: 0;
    box-shadow: 0 1px 3px 0 rgba(#000, 5%);

    .mat-form-field-outline-start {
      border-radius: 3px 0 0 3px;
    }
    .mat-form-field-outline-end {
      border-radius: 0 3px 3px 0;
    }

    .mat-form-field-outline-gap {
      display: none;
    }

    .mat-form-field-outline-start,
    .mat-form-field-outline-end {
      border-width: 1px;
    }

    &:not(.mat-form-field-outline-thick) {
      color: $gray10;
    }
  }

  .mat-form-field-infix {
    display: flex;
    flex-direction: column;
    padding: 9px 0 3px;
    border: 0;

    mat-select {
      padding: 9px 0 8px;

      .mat-select-arrow {
        padding: 3px;
        display: inline-block;
        border-style: solid;
        border-width: 0 2px 2px 0;
        border-color: currentColor;
        transform: rotate(45deg);
        vertical-align: middle;
      }
    }

    input.mat-input-element {
      margin: 0;
      height: 30px;

      &:-webkit-autofill {
        box-shadow: 0 0 0 50px $gray13 inset;
      }
    }

    textarea.mat-input-element {
      resize: none;
      min-height: 130px;
      margin: 9px 0 8px;
      padding: 0;
    }

    .mat-form-field-label-wrapper {
      position: static;
      padding: 0;
      order: -1;

      .mat-form-field-label {
        margin: 0;
        position: static;
        transform: none;
        width: auto;
      }
    }
  }

  .mat-form-field-suffix {
    top: initial;
    margin-top: auto;
    padding-bottom: 3px;
  }
}

// Material checkbox
mat-checkbox {
  min-height: 20px;
}

.mat-checkbox-checked .mat-checkbox-frame {
  border-color: $blue1;
}

.mat-checkbox.mat-checkbox-disabled {
  .mat-checkbox-frame {
    border-color: $gray5 !important;
  }
  .mat-checkbox-checkmark-path {
    stroke: $gray5 !important;
  }
}

.mat-checkbox:not(.mat-checkbox-disabled) {
  .mat-checkbox-checkmark-path {
    stroke: $blue1 !important;
    stroke-width: 3px;
  }
}

.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background,
.mat-checkbox-checked.mat-primary .mat-checkbox-background {
  background-color: transparent;

  .mat-checkbox-checkmark {
    transform: scale(0.8);
  }
}

// Material grid
.mat-grid-tile .mat-figure {
  fieldset {
    width: 100%;
    mat-form-field {
      width: 100%;
    }
  }
}
// Material select panel

.mat-select-panel {
  @include custom-scrollbar;
}

// Material icon
.mat-icon {
  &.hint {
    cursor: pointer;
    color: $gray8;
  }
}

// Material tooltip
mat-tooltip-component {
  .mat-tooltip {
    font-size: 12px;
  }
}

// Highlight invalid radio groups.
.mat-radio-group.ng-invalid.ng-touched {
  .mat-radio-outer-circle {
    border-color: $red1;
  }
  .mat-radio-label-content {
    color: $red1;
  }
}

.mat-checkbox.ng-invalid.ng-touched {
  .mat-checkbox-frame {
    border-color: $red1;
  }
  .mat-checkbox-label {
    color: $red1;
  }
}

.mat-success[mat-flat-button] {
  background-color: $green1;
  color: white !important;
  &[disabled] {
    background-color: lighten($green1, 50%) !important;
  }
}

.mat-warn[mat-flat-button] {
  color: white !important;
  &[disabled] {
    background-color: lighten($red1, 50%) !important;
  }
}

.mat-tab-body .mat-tab-body-content {
  overflow-y: hidden;
}

// General-purpose classes
.container {
  padding: 0 120px;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.border-box {
  box-sizing: border-box;
}

.hidden {
  visibility: hidden;
}

.scroll-y {
  overflow-y: auto;
}

.opacity-50 {
  opacity: 0.5;
}

.no-underline {
  text-decoration: none;
}

.no-border-bottom {
  border-bottom: 0px !important;
}

.border-bottom {
  border-bottom: 1px solid $gray6;
}

.button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.form-content {
  width: 66%;
  min-width: 630px;
  margin: auto;
  &:not(.marginless) {
    margin: 30px auto 20px;
  }
}

.gallery-item-title {
  color: #fff;
  font-size: 12px;
  z-index: 50;
  position: absolute;
  bottom: 0px;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}

.g-image-item {
  background-size: contain !important;
}

.notification {
  color: white;
  &.error {
    background: $red1;
  }
  &.success {
    background: $green1;
  }
}

.use-case-name-tooltip {
  max-width: unset !important;
}

$font-sizes: 10, 11, 12, 13, 14, 15, 16, 18, 22, 24;
$spaces: auto, 0, 1, 2, 4, 5, 6, 8, 10, 11, 13, 14, 15, 16, 18, 20, 22, 24, 25, 26, 30, 40, 50, 60,
  80, 100, 120, 160;

@each $size in $font-sizes {
  @include font-sizer($size);
}

@each $space in $spaces {
  @include spacer($space);
}

@each $key, $utility in $utilities {
  @include generate-utility($utility);
}
